<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BankApplicationDBContext"
			 connectionString="(localdb)\MSSQLLocalDB;Initial Catalog=wpf-BankApplication;Integrated Security=true;AttachDBFilename=|DataDirectory|\[BankApplication].mdf"
		     providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>